[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperModPlus"]
	path = themes/PaperModPlus
	url = https://codeberg.org/dovah-kiin/PaperModPlus.git
[submodule "scripts"]
	path = scripts
	url = https://codeberg.org/clforge/hugo-scripts.git
