[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperModPlus"]
	path = themes/PaperModPlus
	url = https://codeberg.org/dovah-kiin/PaperModPlus.git
